body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100%;
  position: relative;
}

.calc {
  min-height: 220px;
}

input,
select {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
}

.left,
.right {
  max-height: 100%;
}

.left div {
  margin: 12px 0;
}

.right > *:not(:last-child) {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .right {
    margin-left: 10px;
  }
}

.animated {
  animation: slowShow 2s ease;
  transition: animation 0.1ms ease-in;
}

@keyframes slowShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.err {
  padding: 1px 6px;
}

.calc,
err-wrapper,
#result {
  background: rgba(255 255 255 /0.3);
}
